<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        style   
            include ./email.css
    body
        h2 Confirm your account
        p you're almost enrolled, just press the next button
        a(href=`${confirmUrl}`) Confirm account
        p If you can not access to this links, visit #{confirmUrl}  