<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        style   
            include ./email.css
    body
        h2 Reste Password
        p hello, you have requested to reset your password, click on the following link to reestablish it, that link is temporary, so if it expires, request it again
        a(href=`${resetUrl}`) Go to reset password
        p If you can not access to this links, visit #{resetUrl}
        p If you didn't request this email, you can ignore it.