<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1= pageName
            p Put your new password
        
            form.caja-login(method="POST")
                .campo
                    label(for="password") Password:
                    input(type="password" name="password" placeholder="New Password" )  
                .campo.enviar
                    input.boton(type="submit" value="Reestablish Password")
                .campo.acciones
                    a(href="/start-session") you already remember it, go back to log in